*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #010101;
}
#container{
	background-image: url('../images/keyboard7cp.jpg');
	/*background: #000; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#000, #676767); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#000, #676767); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#000, #676767); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#000, #676767);*/
	/*background-color: #000;*/
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 60px;
	border-bottom: 1px solid #000; 
}
#links{
	float: right;
	clear: right;
	padding: 30px 50px 0 0;
	margin-bottom: 7%;
}
#links a{
	color: #fff;
	text-decoration: none;
	padding-bottom: 10px;
	display: block;
	text-align: right;
}
#links a:hover{
	color: #676767;
}
#nav{
	margin-top: 30px;
	color: #99ccff;
	margin-left: 30px;
	clear: none;
	float: left;
	display: flex;
}
#nav li {
	display: inline-block;
	margin-left: 50px;
	font-size: 1.2em;
	/*background-color: #010101;*/
	opacity: .7;

}
#nav li:hover{
	color: #676767;
}
#title{
	color: white;
	clear:both;
	float: center;
	text-align: center;
	margin: auto;
	font-size: 8em;
	font-family:Georgia, serif;
}
.title{

}
#personal_info, #education_info, #aspirations_info{
	display: none;
	color: white;
	margin:5% 10% 0 10%;
	padding: 35px 25px 55px;
	clear: both;
	float: center;
	border-top: 2px solid #676767;
	border-bottom: 2px solid #676767;
	background-color: #000;
	opacity: .7;
	font-size: 1.2em;
	border-radius: 4px;
	margin-bottom: 50px;
}
#personal_info p, #education_info p, #aspirations_info p{
	padding-bottom: 20px
}
#spacer{
	clear: both;
	height: 400px;
}


@media (max-width: 540px){
*{
	/*background-color: #fff;*/
	/*font-size: .75em;*/
}
body{
	background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#132639, #295986); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#132639, #295986); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#132639, #295986); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#132639, #295986);
}
#title{
	padding-top: 10%;
	margin-left: 10px;
	text-align: left;
	font-size: 3.4em;
}
.title{
	display: block;
}
#nav{
	display: none;
}
#links{
	margin-bottom: 7px;
	padding: 10px 0 0 0;
}
#links li{
	display: inline-block;
	margin: 0 6px;
	font-size: .7rem;
	background-color: #010101;
}
#links li a{
	padding: 0;
}
#personal_info p, #education_info p, #aspirations_info p{
	display: block;
	font-size: .85em;
}
#personal_info , #education_info , #aspirations_info {
	display: block;
	margin:2% 2% 0 2%;
}
#personal_info h3, #education_info h3 , #aspirations_info h3{
	display: block;
	font-size: 1em;
}
#spacer{
	display: none;
}
}

@media (min-width: 540px) and (max-width: 1080px){
*{
	/*background-color: white;	*/
}
body{
	background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#132639, #295986); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#132639, #295986); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#132639, #295986); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#132639, #295986);
}
#title{
	font-size: 6em;
	padding: 15px;
}
.title{
	display: block;
}
#nav{
	display: none;
}
#personal_info , #education_info , #aspirations_info{
	display: block;
	margin:3% 4% 0;
}
#spacer{
	display: none;
}
}























