*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dcdcdc;

}
#header{
	background-image: url('../images/keyboard7cp.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 16%;
	border-bottom: 8px solid silver;
	/*height: 600px;*/
	/*border-bottom: 8px solid silver;*/
	/*border-bottom:  4px solid #1560d8;*/
	/*border-bottom:  4px solid #f4301a;*/
	/*max-width: 2900px;*/
}
#links{
	float: right;
	clear: right;
	padding: 30px 50px 0 0;
	margin-bottom: 9%;
	list-style-type: none;
}
#links a{
	color: #fff;
	text-decoration: none;
	padding-bottom: 10px;
	display: block;
	text-align: right;
}
#links a:hover{
	color: #676767;
}
#nav{
	z-index: 3;
	position: fixed;
	padding-top: 40px;
	color: #99ccff;
	padding-left: 30px;
	clear: none;
	float: left;
	display: flex;

}
#nav li {
	display: inline-block;
	margin-left: 50px;
	font-size: 1.2em;
	opacity: .7;
}
#nav li:first-child{
	color: #000;
}
#nav li{
	color: #1560d8;
	color: #000;
}
#nav li:hover{
	color: #676767;
}
#title{
	background: rgba(153, 205, 255, .4);
	background: rgba(225, 225, 225, .4);
	color: #fff;
	clear:both;
	float: center;
	text-align: center;
	margin: auto;
	font-size: 6em;
	font-family:Georgia, serif;
	-webkit-text-stroke: 3px black;
}
#personal_info, #education_info, #aspirations_info{
	display: block;
	color: white;
	margin:2% 0 0;
	padding: 35px 25px 55px;
	/*clear: both;
	float: center;*/
	border-top: 2px solid #676767;
	border-top: 4px solid #1560d8;
	border-bottom: 4px solid #1560d8;
	/*border-top: 4px solid #f4301a;*/
/*	border-bottom: 2px solid #676767;
	border-bottom: 4px solid #1560d8;*/
	background-color: #000;
	opacity: .7;
	font-size: 1.2em;
	/*border-radius: 4px;*/
	/*margin-bottom: 50px;*/
}
#personal_info p, #education_info p, #aspirations_info p{
	padding-bottom: 20px;
	display:block;
}
#personal_info h3, #education_info h3, #aspirations_info h3{
	color: #ff1a1a;
	display:block;
}
.skillset{
	color:#ffff1a;
	color: #72fcff;
}
#nowgoal, #latergoal{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 40px;
}
#spacer{
	clear: both;
	/*height: 150px;*/
	text-align: center;
	/*padding: 0 16%;*/
	padding-top: 40px;
	/*border-top: 8px solid silver;*/
	/*border-bottom: 2px solid #99ccff;*/
}
#spacer p{
	font-family: Helvetica, arial;
	font-size: 1.2em;
}
.large{
	font-size: 1.4em;
}
.medium{
	font-size: 1.2em;
}
.medium a, .large a{
	color: #f47d42;
	color: #f48e3a;
	color: #d13c17;
	text-decoration: none;
}
.warmth{
	color: #ff1a1a;
}
.vertical-txt-mid{
	/*float: ;*/
	padding: 0 18%;
}
.vertical-txt-right{
	display: none;
	font-size: 2.4em;
	vertical-align: top;
	margin-right: 2%;
	transform: rotate(90deg);
	float: right;
	margin-top: 100px;
	color: #ff1a1a;
	-webkit-text-stroke: 1px #f9aa0c;
}
.vertical-txt-left{
	display: none;
	font-size: 2.4em;
	transform: rotate(270deg);
	margin-left: 2%;
	float: left;
	margin-top: 100px;
	color: #ff1a1a;
	-webkit-text-stroke: 1px #f9aa0c;
}
.video:first-child{
	border-top: none;
}
.video{
	border-top: 2px solid #1560d8;
	height: 400px;
}
/*#triangle-topleft {
	width: 50%;
	height: 0;
	border-top: 90px solid red;
	border-right: 500px solid transparent;
}*/
#triangle-topleft-1 {
	z-index: 2;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #99ccff;
	border-top: 100px solid #edeeed;
	border-right: 500px solid transparent;
	border-left: 100px solid transparent;
}
#triangle-topleft{
	z-index: 1;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #2935b5;
	border-top: 100px solid #99ccff;
	border-right: 360px solid transparent;
	border-left: 300px solid transparent;
}
#footer p{
	text-align: center;
	border-top: 2px solid silver;
	padding: 10px 0 20px;
	color: #545454;
}












@media screen and (max-width: 540px){
	body{
		
	}
	#header{
		/*height: 200px;*/
		/*padding-bottom: 20%;*/
		padding-bottom: 0;
	}
	#title{
		padding-top: 4%;
		margin-left: 10px;
		text-align: left;
		font-size: 3.4em;
		padding-bottom: 0;
	}
	.title{
		display: block;
	}
	#title{
		background: none;
		-webkit-text-stroke: 2px #dcdcdc;
	}
	#triangle-topleft {
		display: none;
	}
	#nav{
		display: none;
	}
	#links{
		margin-bottom: 7px;
		padding: 10px 0 0 0;
	}
	#links li{
		display: inline-block;
		margin: 0 6px;
		font-size: .7rem;
		background-color: #010101;
	}
	#links li a{
		padding: 0;
	}
	#personal_info p, #education_info p, #aspirations_info p{
		display: block;
		font-size: .85em;
	}
	#personal_info , #education_info , #aspirations_info {
		display: block;
		margin:4% 0;
		border-bottom: none;
	}
	#personal_info h3, #education_info h3 , #aspirations_info h3{
		display: block;
		font-size: 1em;
	}
	#nowgoal{
		border-bottom: 1px solid #676767;
	}
	#spacer{
		padding: 0;
		/*height: 200px;*/
		font-size: .8em;
		/*margin: 0 1%;*/
		padding-top: 10px; 
	}
	.vertical-txt-mid{
		padding: 0 8%;
	}	
	#triangle-topleft-1, #triangle-topleft{
		display: none;
	}	
}
@media screen and (max-width: 880px) and (min-width:540px){

	body{
	}	
	#header{
		padding-bottom: 0;
	}
		#title{
			font-size: 4.4em;
			/*text-align: left;*/
			padding-left: 10px;
			padding-bottom: 0;
		}
		.title{
		/*display: block;*/
	}
	#nav{
		display: none;
	}
	#triangle-topleft, #triangle-topleft-1 {
		display: none;
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
		border-bottom: none;
		/*margin:3% 0 0;*/
	}
	#spacer{
		/*display: none;*/
	}
}

@media screen and (min-width: 880px) and (max-width: 1080px){
	body{
	}
	#title{
		padding: 15px;
		/*-webkit-text-stroke: 2px #dcdcdc;*/
	}
	/*.title{
		font-size: 3em;
	}*/
	#nav{
		/*display: ;*/
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
		margin:3% 0 0;
	}
	#triangle-topleft, #triangle-topleft-1 {
		/*display: none;*/
	}
	#spacer{
		display: block;
	}
}
@media screen and  (min-width: 1550px){
	body{
		font-size: 1.2em;
	}
	#links{
		margin-bottom: 12%;
	}
}
}























