*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dcdcdc;
	font-family: courier, arial, georgia;
}
#header{
	background-color: #898989;
	background-image: url('../images/keyboard7cp.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 16%;
	border-bottom: 8px solid silver;
}
.top{
	width: 100%;
	height: 300px;
}
.float_right{
	position: fixed;
	width: 100%; 
	background-color: #000;
	height: 60px;
}
#links{
	text-align: right;
	padding: 30px 20px 0 0;
	margin-bottom: 9%;
	list-style-type: none;
	z-index: 3;
}
#links li{
	display: inline-block;
}
#links a{
	color: #fff;
	text-decoration: none;
	padding-bottom: 10px;
	text-align: right;
}
#links a:hover{
	color: #676767;
}
#links>li>a>img{
	border:1px solid #000;
	border-radius: 50px;
}
.float_left{
	width: 45%;
	z-index: 300;
}
#nav{
	z-index: 3;
	position: fixed;
	padding-top: 40px;
	color: #99ccff;
	padding-left: 30px;
	display: flex;
}
#nav li {
	display: inline-block;
	margin-left: 50px;
	font-size: 1.2em;
	/*opacity: .7;*/
	color: #787878;
}
#nav li:first-child{
	color: #000;
}
#nav li:last-child{
	color: #edeeed;
}
#nav li:hover{
	color: #676767;
}
.right_nav{
	border-radius: 4px;
	background-color: #edeeed;
	color: #000;
	margin: 0 1px ;
	padding: 0 10px;
	vertical-align: top;
}
#title{
	background: rgba(225, 225, 225, .4);
	color: #fff;
	text-align: center;
	font-size: 6em;
	font-family:Georgia, serif;
	-webkit-text-stroke: 3px black;
}
#personal_info, #education_info, #aspirations_info{
	background-image: url('../images/monitor.png');
	background-size: 50%;
	background-repeat: repeat;
	background-color: #dcdcdc;
	color: #000;
	padding: 25px 35px 45px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	font-size: 1.2em;
}
#personal_info p, #education_info p, #aspirations_info p{
	padding-bottom: 20px;
}
#personal_info h3, #education_info h3, #aspirations_info h3{
	color: #2935b5;
	margin-left: 200px;
	padding-bottom: 30px;
	font-family: courier,Georgia,serif;
}
.skillset{
	color: #2935b5;
}
#nowgoal, #latergoal{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 40px;
}
#spacer{
	text-align: center;
	padding: 20px 18% 40px;
	background-color: #edeeed;
	color: #343434;
}
#spacer p{
	font-family: courier,Helvetica, arial;
	font-size: 1.2em;
}
.large{
	font-size: 1.4em;
}
.medium{
	font-size: 1.2em;
}
.warmth{
	color: #ff1a1a;
}
#triangle-topleft-1 {
	z-index: 2;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #edeeed;
	border-right: 500px solid transparent;
	border-left: 100px solid transparent;
}
#triangle-topleft{
	z-index: 1;
	position: fixed;
	width: 4px;
	border-top: 100px solid #99ccff;
	border-right: 360px solid transparent;
	border-left: 300px solid transparent;
}
.video{
	border-top: 2px solid #434343;
	height: 400px;
}
#python{
	background-image: url('../images/data-facev1.jpg');
	background-size: 50%;
}
.left{
	padding-left: 30px;
	width: 45%;
	clear: both;
	float: left;
	vertical-align: top;
}
.right{
	width: 50%;
	float: right;
	height: 400px;
}
.left_title{ 
	color: #2935b5; 
	text-align: center;
	padding: 10px 0 10px;
}
.p{
	color: white;
	font-size: 1.5em;
	padding: 70px 20px 0;
	height: 320px;
}
#ruby{
	background-image: url('../images/mouse.png');
	background-size: 25%;
}
#ruby>.right>p{
	color: #000;
}
#ruby>.left{
	height: 394px;
}
#mean{
	background-image: url('../images/numbersphereB&Wv1.png');
	background-size: 15%;
}
.iframe{
	background-color: #343434;
	border: 2px solid #343434; 
}
#footer p{
	text-align: center;
	padding: 10px 0 20px;
	color: #ababab;
	background-color: #434343;
}


















@media screen and (max-width: 540px){
	body{
		
	}
	#header{
		padding-bottom: 0;
	}
	#title{
		padding-top: 16%;
		margin-left: 10px;
		text-align: left;
		font-size: 3.4em;
		padding-bottom: 0;
	}
	.title{
		display: block;
	}
	#title{
		background: none;
		-webkit-text-stroke: 2px #dcdcdc;
	}
	#triangle-topleft {
		display: none;
	}
	#nav{
		padding: 5px;
		margin-bottom: 15px;
	}
	#nav li {
		font-size: 1em;
		border-radius: 4px;
		background-color: #edeeed;
		color: #000;
		margin: 0 1px ;
		padding: 0 5px;
		opacity:1;

	}
	#links{
		margin-bottom: 7px;
		padding: 10px 0 0 0;
		display: none;
	}
	#personal_info p, #education_info p, #aspirations_info p{
		display: block;
		font-size: .85em;
	}
	#personal_info , #education_info , #aspirations_info {
		display: block;
		margin:1% 0;
		padding: 20px 15px;
	}
	#personal_info h3, #education_info h3 , #aspirations_info h3{
		display: block;
		font-size: 1em;
	}
	#nowgoal, #latergoal{
		border-bottom: 1px solid #676767;
		margin-left: 25px;
	}
	#spacer{
		font-size: .8em;
	}
	.vertical-txt-mid{
		padding: 0 8%;
	}	
	#triangle-topleft-1, #triangle-topleft{
		display: none;
	}
	.left, .right{
		width: 100%;
	}	
}
@media screen and (max-width: 880px) and (min-width:540px){

	body{
	}	
	#header{
		padding-bottom: 0;
	}
	#title{
		font-size: 4.4em;
		padding-left: 10px;
		padding-bottom: 0;
	}
	.title{
	}
	#nav{
		padding: 5px;
		margin: 0;
	}
	#nav li {
		border-radius: 4px;
		background-color: #edeeed;
		color: #000;
		margin: 0 1px ;
		padding: 0 15px;
		opacity:1;

	}
	#triangle-topleft, #triangle-topleft-1 {
		display: none;
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
	}
}

@media screen and (min-width: 880px) and (max-width: 1080px){
	body{
	}
	#title{
		/*padding: 15px;*/
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
		margin:3% 0 0;
	}
	#triangle-topleft, #triangle-topleft-1 {
	}
	#spacer{
		display: block;
	}

}
@media screen and  (min-width: 1550px){
	body{
		font-size: 1.2em;
	}
	#links{
		margin-bottom: 12%;
	}
}
}























