*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dcdcdc;
	font-family: calibri, courier;
}
#header{
	background-image: url('../images/keyboard7redv7.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 16%;
	border-bottom: 8px solid silver;
	border-bottom: 8px solid #e5d8b7;
	border-bottom: 8px solid silver;
	/*border-bottom: 4px solid #b60020;*/
}
.top{
	width: 100%;
	height: 300px;
}
.float_right{
	position: fixed;
	width: 100%; 
	background-color: #000;
	height: 60px;
}
#links{
	text-align: right;
	padding: 30px 20px 0 0;
	margin-bottom: 9%;
	list-style-type: none;
	z-index: 3;
}
#links li{
	display: inline-block;
}
#links a{
	color: #fff;
	text-decoration: none;
	padding-bottom: 10px;
	display: block;
	text-align: right;
}
#links a:hover{
	color: #676767;
}
#links>li>a>img{
	border:1px solid #000;
	border-radius: 50px;
}
.float_left{
	width: 45%;
	z-index: 300;
}
#nav{
	z-index: 3;
	position: fixed;
	padding-top: 40px;
	color: #99ccff;
	padding-left: 30px;
	display: flex;
}
#nav li {
	display: inline-block;
	margin-left: 50px;
	font-size: 1.2em;
	opacity: .7;
}
#nav li:first-child{
	color: #1560d8;
	color: #000;
}
#nav li:last-child{
	color: #edeeed;
}
#nav li{
	color: #1560d8;
	color: #454545;
}
#nav li:hover{
	color: #676767;
}
.right_nav{
	border-radius: 4px;
	background-color: #edeeed;
	color: #000;
	margin: 0 1px ;
	padding: 0 10px;
	vertical-align: top;
}
#title{
	background: rgba(153, 205, 255, .4);
	background: rgba(225, 225, 225, .4);
	/*background: rgba(188, 33, 1, .4);*/
	/*background: rgba(255, 59, 33, .5);*/
	background: rgba(247, 182, 174, 0.5);
	background: rgba(173, 143, 143, 0.5);
	background: rgba(239, 175, 175, 0.5);
	background: rgba(225, 225, 225, .4);
	color: #fff;
	clear:both;
	float: center;
	text-align: center;
	margin: auto;
	font-size: 6em;
	font-family:Georgia, serif;
	-webkit-text-stroke: 3px black;
	-webkit-text-stroke: 2px #543568;
	-webkit-text-stroke: 1px #f41d1d;
}
#personal_info, #education_info, #aspirations_info{
	background-image: url('../images/monitor.png');
	background-size: 50%;
	background-repeat: repeat-x;
	display: block;
	color: #676767;
	color: #000;
	/*text-align: center;*/
	/*margin:2% 0 0;*/
	padding: 25px 35px 45px;
	border-top: 2px solid #676767;
	border-top: 4px solid #b60020;
	border-top: 2px solid #333;
	border-top: 2px solid #630f0f;
	/*border-top: 4px solid #c09852;*/
	/*border-top: 4px solid #e5d8b7;*/
	border-bottom: 4px solid #1560d8;
	border-bottom: 4px solid #b60020;
	border-bottom: 2px solid #333;
	/*border-bottom: 4px solid #c09852;*/
	background-color: #676767;
	background-color: #dcdcdc;
	font-size: 1.2em;
}
#personal_info p, #education_info p, #aspirations_info p{
	padding-bottom: 20px;
	display:block;
}
#personal_info h3, #education_info h3, #aspirations_info h3{
	color: #991515;
	margin-left: 200px;
	padding-bottom: 30px;
	/*color: #c09852;*/
	font-family: courier,Georgia,serif, courier;
	display:block;
}
.skillset{
	color:#ffff1a;
	color: #72fcff;
	color: #826239;
	color: #f41d1d;
}
#nowgoal, #latergoal{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 40px;
	text-align: left;
}

/* display none on spacer */
#spacer{
	/*display: none;*/
	clear: both;
	text-align: center;
	/*padding: 20px 0 40px;*/
	background-color: #edeeed;
	padding: 0 18%;
	color: #343434;
	/*border-bottom: 1px solid #000;*/
}
#spacer p{
	font-family: courier,Helvetica, arial;
	font-size: 1.2em;
}
.large{
	font-size: 1.4em;
}
.medium{
	font-size: 1.2em;
}
.medium a, .large a{
	color: #f47d42;
	color: #f48e3a;
	color: #d13c17;
	text-decoration: none;
}
.warmth{
	color: #ff1a1a;
}
.vertical-txt-mid{
	
}


#triangle-topleft-1 {
	z-index: 2;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #99ccff;
	border-top: 100px solid #edeeed;
	border-top: 100px solid #991515;
	border-top: 100px solid #e5d8b7;
	border-top: 100px solid #fff4d7;
	border-top: 100px solid #ffdb7c;
	border-top: 100px solid #edeeed;
	border-right: 500px solid transparent;
	border-left: 100px solid transparent;
}
#triangle-topleft{
	z-index: 1;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #2935b5;
	border-top: 100px solid #b57b26;
	border-top: 100px solid #c2693a;
	border-top: 100px solid #bcbcbc;
	border-top: 100px solid #99ccff;
	border-top: 100px solid #e5d8b7;
	border-top: 100px solid #991515;
	border-right: 360px solid transparent;
	border-left: 300px solid transparent;
}
.video{
	/*border-bottom: 2px solid #1560d8;*/
	border-top: 2px solid #434343;
	height: 400px;
	/*padding: 0 10px;*/
}
.video:last-child{
	/*border-bottom: 2px stroke-linecap: id #434343;*/

}

#python{
	background-image: url('../images/data-facev1.jpg');
	background-size: 50%;
	/*margin: 30px 0 0;*/
	
	/*border-bottom: 4px solid #000;*/
	/*border-top: 2px solid #b60020;*/
	/*padding: 5px 20px 10px;*/
	/*background:rgba(255, 255, 255, .4);*/

}
.left{
	padding-left: 30px;
	width: 45%;
	clear: both;
	float: left;
	vertical-align: top;
	border: none;
	/*border-top: 1px solid #000;*/
}
.right{
	/*margin-top: 20px;*/
	width: 50%;
	float: right;
	height: 400px;
	border:1px solid #000;
	/*background-color: #343434;*/
}
.right:nth-child(2){
	border:none;
}
.left_title{
	color: #991515; 
	text-align: center;
	padding: 10px 0 10px;
	/*background-color: #edeeed;*/
	/*background-color: #991515;*/
	/*border-radius: 10px ;*/
}
.p{
	/*border:1px solid #777;*/
	/*background-color: #ccc;*/
	border-top: none;
	color: white;
	font-size: 1.5em;
	padding: 70px 20px 0;
	height: 320px;
	background-image: url('../images/data-facev1.jpg');
	background-image: none;
	background-repeat: repeat-x;
	background-size: 100%;
}
#ruby{
	background-image: url('../images/mouse.png');
	background-size: 25%;
	border-top: 2px solid #630f0f;
}
#ruby>.right>p{
	/*background-color: #edeeed;*/
	color: #000;
	border: none;
}
#ruby>.right{
	background-color: none;
	background:rgba(255,255,255,0);
}
#ruby>.left{
	height: 394px;
	/*margin-top: 20px;*/

	
}
#ruby>.left_title{
	background-color: silver;
	/*border-top: 4px solid #edeeed;	*/
	color: #991515;
}
#mean>.left_title{
	background-color: #991515;
	/*padding-top: 30px;*/
	border-bottom: none;
	/*border-top: 4px solid silver;*/
}
#mean{
	background-image: url('../images/numbersphereB&Wv1.png');
	background-size: 15%;
}
#mean>.left > p{
	color: #edeeed;
}
#mean>.left{
	border-top: none;	
}
.video>#mean{
	padding: 10px;
}
.iframe{
	margin: 0 0 0 0;
	/*padding-right: 20px;*/
	background-color: #343434;
	border: 2px solid #343434; 
}
#footer p{
	text-align: center;
	/*border-top: 2px solid silver;*/
	padding: 10px 0 20px;
	color: #ababab;
	background-color: #434343;
}

@media screen and (max-width: 540px){
	body{
		
	}
	#header{
		padding-bottom: 0;
		vertical-align: bottom;
	}
	.top{
		height: 50px;
	}
	#title{
		padding-top: 8%;
		margin-left: 10px;
		text-align: left;
		font-size: 3.4em;
		padding-bottom: 0;
	}
	.title{
		display: block;
	}
	#title{
		background: none;
		-webkit-text-stroke: 2px #dcdcdc;
	}
	#triangle-topleft {
		display: none;
	}
	#nav{
		padding: 5px;
		margin-bottom: 15px;
	}
	#nav li {
		font-size: 1em;
		border-radius: 4px;
		background-color: #edeeed;
		color: #000;
		margin: 0 5px ;
		padding: 0 5px;
		opacity:1;
	}
	#nav>li:last-child{
		color: #000;
	}
	#links{
		margin-bottom: 7px;
		padding: 30px 0 0 0;
		margin: 0;
	}
	#personal_info p, #education_info p, #aspirations_info p{
		display: block;
		font-size: .85em;
	}
	#personal_info , #education_info , #aspirations_info {
		display: block;
		margin:1% 0;
		padding: 20px 15px;
	}
	#personal_info h3, #education_info h3 , #aspirations_info h3{
		display: block;
		font-size: 1em;
		margin: 0;
		text-align: center;
	}
	#nowgoal, #latergoal{
		border-bottom: 1px solid #676767;
		margin-left: 25px;
	}
	#spacer{
		font-size: .8em;
		padding: 5px 5%;
		height: 150px;
	}
	#triangle-topleft-1, #triangle-topleft{
		display: none;
	}
	.video{
		height: 550px;
		font-size: .8em;
		text-align: center;
		width: 100%;
		margin: 0;
	}
	.p{
		height: 130px;
		padding: 20px 20px 0;
	}
	.left, .right{
		width: 98%;
		float: none;
		padding: 0;
		margin: 0;
		clear: both;
	}
	#ruby>.left{
		height: 335px;
	}
	.right{
		height: 335px;
	}
	.iframe{
		width:100%;
	}
}
@media screen and (max-width: 880px) and (min-width:540px){

	body{
	}	
	#header{
		padding-bottom: 90px;
	}
	.top{
		height: 150px;
	}
	#title{
		font-size: 4.4em;
		padding-left: 10px;
		padding-bottom: 0;
	}
	.title{
	}
	#nav{
		padding: 5px;
		margin: 0;
	}
	#nav li {
		border-radius: 4px;
		background-color: #edeeed;
		color: #000;
		margin: 0 1px ;
		padding: 0 15px;
		/*opacity:1;*/
	}
	#nav>li:last-child{
		color: #000;
	}
	#spacer{
		padding: 5px 4%;
		height: 140px;
	}
	.video{
		padding: 0 8%;
		height: 520px;
	}
	.video:first-child{
		height: 590px;
	}
	.p{
		height: 130px;
		padding: 20px 20px 0;
	}
	.left{
		width: 98%;
		float: none;
		padding: 0;
		margin: 0;
		clear: none;
	}
	#ruby>.left{
		height: 335px;
		width: 98%;
		float: left;
		padding: 0;
		margin: 0;
		clear: none;
	}
	.right{
		height: 335px;
		width: 98%;
		float: right;
		padding: 0;
		margin: 0;
		clear: none;
	}
	#triangle-topleft, #triangle-topleft-1 {
		display: none;
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
	}
	#personal_info h3, #education_info h3 , #aspirations_info h3{
		display: block;
		font-size: 1.4em;
		margin: 0;
		text-align: center;
	}
}

@media screen and (min-width: 880px) and (max-width: 1080px){
	body{
	}
	#title{
		/*padding: 15px;*/
	}
	#personal_info , #education_info , #aspirations_info{
		display: block;
		margin:3% 0 0;
	}
	#triangle-topleft-1 {
	z-index: 2;
	position: fixed;
	width: 4px;
	height: 0;
	border-top: 100px solid #edeeed;
	border-right: 300px solid transparent;
	border-left: 100px solid transparent;
}
#triangle-topleft{
	z-index: 1;
	position: fixed;
	width: 4px;
	border-top: 100px solid #99ccff;
	border-right: 160px solid transparent;
	border-left: 300px solid transparent;
}
/*		#nav{
		padding: 5px;
		margin: 0;
	}*/
	#nav li {

		/*border-radius: 4px;*/
		/*background-color: #edeeed;*/
		/*color: #000;*/
		margin: 0 10px ;
		padding: 0 5px;
	}
	#nav>li:first-child{
		padding-left: 20px;
	}
	#nav>li:nth-child(2){
		/*color: #000;*/
		margin: 0;
	}
	#spacer{
		display: block;
	}

}
@media screen and  (min-width: 1550px){
	body{
		font-size: 1.2em;
	}
	#links{
		margin-bottom: 12%;
	}
	.right{
		width: 45%;
		clear: none;
	}
	.left{
		width: 45%;
		clear: none;
	}
}
}























